@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

img {
  height: auto;
  width: auto;
}
html {
  scroll-behavior: smooth;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

/* Custom Tailwind CSS Components */


/* Header Styles */
.header {
  @apply z-50 fixed bg-[#ECB417] w-full items-center justify-between pt-8 pl-8 pb-4 pr-8 lg:pb-8  text-sm lg:flex;
}

.header_logo_style {
  @apply pointer-events-auto flex place-items-center p-8 ml-3;
}

/* Banner Styles */

.banner_bg {
  @apply w-full h-full flex flex-col items-start justify-center p-10;
  background: rgba(236, 180, 23, 0.42);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(236, 180, 23, 0.3);
}

.banner_label {
  @apply font-bold text-4xl sm:text-5xl md:text-6xl lg:text-7xl leading-tight;
}

.banner_content {
  @apply text-lg sm:text-xl md:text-2xl lg:text-3xl mt-4;
}


